<div class="container">
  <div class="flex justify-center items-center mt-2">
    <img class="w-28" src="../assets/amazon.png" />
  </div>
  <div class="flex justify-center items-center mt-2">
    <div class="border border-gray-200 w-80 h-auto rounded-sm p-4">
      <span class="block text-2xl font-semibold">Create Account</span>
      <div class="block mt-4">
        <label class="text-xs font-semibold" for="name">Your name</label>
        <input
          type="text"
          name="name"
          class="text-sm form-input rounded-sm h-7 w-72 mb-4 focus:ring-yellow-600 shadow focus:shadow-lg focus:border-0"
        />
        <label class="text-xs font-semibold" for="mobileno"
          >Mobile Number</label
        >
        <input
          type="number"
          name="mobileno"
          class="text-sm form-input rounded-sm h-7 w-72 mb-4 focus:ring-yellow-600 shadow focus:shadow-lg focus:border-0"
        />
        <label class="text-xs font-semibold" for="emailId"
          >Email(optional)</label
        >
        <input
          type="email"
          name="emailId"
          class="text-sm form-input rounded-sm h-7 w-72 mb-4 focus:ring-yellow-600 shadow focus:shadow-lg focus:border-0"
        />
        <label class="text-xs font-semibold" for="password">Password</label>
        <input
          type="password"
          name="password"
          class="text-sm form-input rounded-sm h-7 w-72 mb-0 focus:ring-yellow-600 shadow focus:shadow-lg focus:border-0"
        />
        <span class="text-xs font-semibold"
          >Passwords must be at least 6 characters.</span
        >

        <button
          class="bg-yellow-400 border rounded h-7 shadow-inner w-72 mt-4 text-sm hover:bg-yellow-500 hover:shadow-inner"
          type="submit"
        >
          Continue
        </button>

        <div class="flex justify-center items-center mt-4">
          <div class="grid grid-rows-3 w-80">
            <div class="text-xs">
              Already have an account?
              <a
                class="text-blue-400 hover:text-red-700 hover:underline"
                routerLink=""
                >Sign in &#9656;</a
              >
            </div>
            <div class="text-xs">
              Buying for work?
              <a
                class="text-blue-400 hover:text-red-700 hover:underline"
                href="#"
                >Create a free bussiness account &#9656;</a
              >
            </div>
            <div class="text-xs">
              By creating an account or logging in, you agree to Amazon’s
              <a
                class="text-xs text-blue-400 hover:text-red-700 hover:underline"
                href="#"
                >Conditions of Use</a
              >
              and
              <a
                class="text-xs text-blue-400 hover:text-red-700 hover:underline"
                href="#"
                >Privacy Notice</a
              >.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="mt-8 w-full" />
<div class="flex justify-center items-center mt-4">
  <div class="grid grid-cols-3 w-80 ml-16">
    <div class="text-center">
      <a
        class="text-xs text-blue-400 hover:text-red-700 hover:underline"
        href="#"
        >Conditions of Use</a
      >
    </div>
    <div class="text-center">
      <a
        class="text-xs text-blue-400 hover:text-red-700 hover:underline"
        href="#"
        >Privacy Notice</a
      >
    </div>
    <div class="ml-2">
      <a
        class="text-xs text-blue-400 hover:text-red-700 hover:underline"
        href="#"
        >Help</a
      >
    </div>
  </div>
</div>
<div class="flex justify-center text-xs text-gray-500">
  &#169; 1996-2023, Amazon.com, Inc. or its affiliates
</div>
