<div class="container">
  <div class="flex justify-center items-center mt-2">
    <img class="w-28" src="../assets/amazon.png" />
  </div>
  <div class="flex justify-center items-center mt-2">
    <div class="border border-gray-200 w-80 h-72 rounded-sm p-4">
      <span class="block text-2xl font-semibold">Sign In</span>
      <div class="block mt-4">
        <label class="text-xs font-semibold" for="emailId"
          >Enter mobile phone number or email</label
        >
        <input
          type="email"
          name="emailId"
          class="text-sm form-input rounded-sm h-7 w-72 mt- focus:ring-yellow-600 shadow focus:shadow-lg focus:border-0"
        />

        <button
          class="bg-yellow-400 border rounded h-7 shadow-inner w-72 mt-4 text-sm hover:bg-yellow-500 hover:shadow-inner"
          type="submit"
        >
          Continue
        </button>

        <span class="block text-xs mt-6"
          >By continuing, you agree to Amazon's
          <a class="text-blue-400 hover:text-red-700 hover:underline" href="#"
            >Conditions of Use</a
          >
          and
          <a class="text-blue-400 hover:text-red-700 hover:underline" href="#"
            >Privacy Notice</a
          >.</span
        >

        <span class="block mt-6">
          &#9656;<a
            class="text-xs text-blue-400 hover:text-red-700 hover:underline"
            href="#"
            >Need Help?</a
          ></span
        >
      </div>
    </div>
  </div>
  <div class="flex justify-center items-center mt-4">
    <div class="w-80">
      <span class="flex justify-center items-center text-xs"
        ><hr class="flex w-28" />
        New to Amazon?
        <hr class="flex w-28"
      /></span>

      <button
        class="block text-sm bg-gray-200 border rounded h-7 w-80 mt-4 hover:shadow-inner hover:bg-gray-300"
        type="submit"
      >
        Create your Amazon account
      </button>
    </div>
  </div>
</div>
<hr class="mt-8 w-full" />
<div class="flex justify-center items-center mt-4">
  <div class="grid grid-cols-3 w-80 ml-16">
    <div class="text-center">
      <a
        class="text-xs text-blue-400 hover:text-red-700 hover:underline"
        href="#"
        >Conditions of Use</a
      >
    </div>
    <div class="text-center">
      <a
        class="text-xs text-blue-400 hover:text-red-700 hover:underline"
        href="#"
        >Privacy Notice</a
      >
    </div>
    <div class="ml-2">
      <a
        class="text-xs text-blue-400 hover:text-red-700 hover:underline"
        href="#"
        >Help</a
      >
    </div>
  </div>
</div>
<div class="flex justify-center text-xs text-gray-500">
  &#169; 1996-2023, Amazon.com, Inc. or its affiliates
</div>
